/* Roboto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-image: url("Media/Pictures/crumpled-white-paperboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color:#121212;
}

h1{
  background: #d47f7f;
  position: relative;
  width: 390px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  margin-bottom: 100px;

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: white;
}

.boxback{
  position: relative;
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  text-align: center;
}

#informalbox img{
  margin-top: 14px;
  width: 192px;
}

#formalbox img{
  margin-top: 14px;
  width: 192px;
}

#corporatebox img{
  margin-top: 80px;
  width: 192px;
}

.boxback div{
  background: #ffb3b3;
  /* padding: 30px; */
  margin: 0 auto;
  width: 226px;
  height: 300px;
}

.cardboxback{
  position: relative;
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

.cardboxback div{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #d47f7f;
  margin: 0 auto;
  margin-top: 16px;
  width: 226px;
  height: 33px;
}

.cardboxback div a{
  text-decoration: none;
  color: white;
}

#customcard{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  width: 640px;
  height: 50px;
  font-size: 36px;
  background: #d47f7f;
}

#customcard a{
  text-decoration: none;
  color: white;
}

footer{
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: fixed;
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;

  color: #B43636;
  background: #FFCACA;
}

/* Mobile view */
@media screen and (max-width: 768px){
  .boxback{
    position: relative;
    display: grid;
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(1,3fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
    text-align: center;
  }
}
